<div class="row">
  <div class="col s12">
    <h4 class="header green-text darken-1-text">Decomposition Suggestions</h4>
    <p class="header light">Tool that analyzes the source code of a monolithic service application and suggests parts to
      be extracted in microservices.</p>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h5 class="header blue-text darken-1-text">Configuration</h5>
  </div>

  <div class="input-field col s3">
    <input matInput name="weightClassItem" type="number" [(ngModel)]="configuration.weightClassItem" placeholder="">
    <label for="weightClassItem" class="active">Weight Class Item</label>
  </div>
  <div class="input-field col s3">
    <input matInput name="weightMethodItem" type="number" [(ngModel)]="configuration.weightMethodItem" placeholder="">
    <label for="weightMethodItem" class="active">Weight Method Item</label>
  </div>
  <div class="input-field col s3">
    <input matInput name="weightHistoryItem" type="number" [(ngModel)]="configuration.weightHistoryItem" placeholder="">
    <label for="weightHistoryItem" class="active">Weight History Item</label>
  </div>
  <div class="input-field col s3">
    <input matInput name="lowerLimitToGroup" type="number" [(ngModel)]="configuration.lowerLimitToGroup" placeholder="">
    <label for="lowerLimitToGroup" class="active">Lower Limite to Group</label>
  </div>

  <div class="input-field col s3">
    <input matInput name="gitRepositoryUri" type="text" [(ngModel)]="configuration.gitRepositoryUri" placeholder="">
    <label for="gitRepositoryUri" class="active">Git Repository URI</label>
  </div>

  <div class="input-field col s3">
    <input matInput name="jarFilePath" type="text" [(ngModel)]="configuration.jarFilePath" placeholder="">
    <label for="jarFilePath" class="active">Jar File Path</label>
  </div>

  <div class="input-field col s6 included-packages">
    <label for="includedPackages" class="active">Included Packages</label>
    <mat-chip-list #includedPackages aria-label="Included Packages">
      <mat-chip *ngFor="let packageName of configuration.includedPackages" [selectable]="true" [removable]="true"
        (removed)="removePackage(packageName)">
        {{packageName}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="New package" [matChipInputFor]="includedPackages"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addPackage($event)">
    </mat-chip-list>
  </div>
</div>

<div class="row">
  <div class="col s3">
    <a class="waves-effect waves-light btn blue" (click)="generateMicroserviceSuggestions()">Generate Microservice
      Suggestions</a>
  </div>
</div>

<div class="row" *ngIf="result">
  <div class="col s12">
    <h5 class="header blue-text darken-1-text">Resulted in {{result.numberMicroservices}} Microservices Suggestions</h5>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Services</th>
        </tr>
      </thead>

      <tbody *ngFor="let microservice of  result.microservices | sort: 'name'">
        <tr>
          <td>{{microservice.name}}</td>
          <td>{{getNameServices(microservice)}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col s12">
    <h5 class="header blue-text darken-1-text">Class Redundancy</h5>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Percentage Redundancy</th>
        </tr>
      </thead>

      <tbody *ngFor="let classNameRedundacy of result.classRedundacies | sort: 'percentageRedundancy': 'true'">
        <tr>
          <td>{{classNameRedundacy.name}}</td>
          <td>{{classNameRedundacy.percentageRedundancy}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col s12">
    <h5 class="header blue-text darken-1-text">Method Redundancy</h5>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Percentage Redundancy</th>
        </tr>
      </thead>

      <tbody *ngFor="let methodRedundancy of result.methodRedundancies | sort: 'percentageRedundancy': 'true'">
        <tr>
          <td>{{methodRedundancy.name}}</td>
          <td>{{methodRedundancy.percentageRedundancy}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>